use (
	./part09/static_pkg
	./part09/gin_pkg
	./part09/gin_start
	./cli/urfave/eldi
	./cli/urfave/eflag
	./cli/urfave/ecommands
	./cli/urfave/esubcommands
	./cli/urfave/e-exit
	./cli/urfave/e-c-sh-o
	./cli/urfave/e-bash-c
	./cli/urfave/e-tag-v
	./cli/urfave/e-timestamp-flag
	./cli/urfave/e-suggest
	./cli/urfave/e-urfave
	./cli/cobra/cobra1
	./cli/cobra/cobra2
	./cli/cobra/cobra3
	./orm/gorm/les01
)
