use (
	./part09/static_pkg
	./part09/gin_pkg
	./part09/gin_start
	./cli/urfave/eldi
	./cli/urfave/eflag
	./cli/urfave/ecommands
	./cli/urfave/esubcommands
	./cli/urfave/e-exit
	./cli/urfave/e-c-sh-o
)
